/*@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(http://fonts.googleapis.com/css?family=Karla:700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);*/

body{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	overflow: hidden;
}
.hub,
.link,
.ball,
.connector {
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
.hub{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 0;
}
.link{
	position: absolute;
}
#root > .connector,
#root > .ball,
#root > .link > .hub > .connector{
	display: none;
}
.connector{
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	margin-top: -4px;
	background-color: rgba(255,255,255,0.05);
}
.ball{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	/*height: 100px;
	width: 100px;
	margin-top: -50px;
	margin-left: -50px;
	border-radius: 50px;*/
	height: 20px;
	width: 20px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 10px;

	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	//border: solid 5px #ccc;
		
}
/* primary */
#root > .link > .hub > .link > .hub > .ball{

}
#root > .link > .hub > .link > .hub > .connector{
}
/* secondary */
#root > .link > .hub > .link > .hub > .link > .hub > .ball{
	height: 16px;
	width: 16px;
	margin-top: -8px;
	margin-left: -8px;
	border-radius: 8px;
}
#root > .link > .hub > .link > .hub > .link > .hub > .connector{

}